<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= erb :header_mini %>
</head>

<body id="download">
  <div id="wrapper">  <!-- wrapper needed for presenterPopupToggle() and $.get() -->
  <h1><%= I18n.t('downloads.title') %></h1>
  <% if @downloads %>
      <%# [ enabled, slide name, [array, of, files] ] %>
      <% @downloads.sort.map do |key, value| %>
          <% enabled, title, files = value %>
          <% if enabled %>
            <%if key != -999 %>
              <% path = '/file/_files' %>
              <h4>Slide <%= key %> <small>(<%= title %>)</small></h4>
            <% else %>
              <% path = '/file/_files/share' %>
            <% end %>
            <ul>
            <% files.each do |file| %>
                <li><a href="<%= path %>/<%= file %>"><%= file %></a></li>
            <% end %>
            </ul>
          <% end %>
      <% end %>
  <% end %>
  </div>
</body>
</html>
