<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= erb :header_mini %>
</head>

<body id="download">

    <div id="preso">
      <div id="wrapper">
        <h1>File Downloads</h1>
        
        <ul id="downloads">
            <% if @downloads %>
                <%# [ enabled, slide name, [array, of, files] ] %>
                <% @downloads.sort.map do |key, value| %>
                    <% enabled, title, files = value %>
                    <% if enabled %>
                        <% files.each do |file| %>
                          <% if key == -999 %>
                            <li><a href="/file/_files/share/<%= file %>"><%= title %>/<%= file %></a></li>
                          <% else %>
                            <li><a href="/file/_files/<%= file %>">Slide <%= key %>: <%= title %>/<%= file %></a></li>
                          <% end %>
                        <% end %>
                    <% end %>
                <% end %>
            <% end %>
            
        </ul>
      </div>
    </div>
</body>
</html>
