<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= erb :header_mini %>
</head>

<body id="download">
  <h1>File Downloads</h1>
  <% if @downloads %>
      <%# [ enabled, slide name, [array, of, files] ] %>
      <% @downloads.sort.map do |key, value| %>
          <% enabled, title, files = value %>
          <% if enabled %>
            <%if key != -999 %>
              <h4>Slide <%= key %></h4>
            <% end %>
            <ul>
            <% files.each do |file| %>
                <li><a href="/file/_files/share/<%= file %>"><%= title %>/<%= file %></a></li>
            <% end %>
            </ul>
          <% end %>
      <% end %>
  <% end %>
</body>
</html>
