  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= @title %></title>

  <meta name="viewport" content="width=device-width"/>

  <% if @favicon %>
    <link rel="icon" href="<%= @favicon %>"/>
  <% end %>

  <link rel="stylesheet" type="text/css" href="css/showoff.css?v=<%= SHOWOFF_VERSION %>" />
  <link rel="stylesheet" type="text/css" href="css/font-awesome-4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/zoomline-0.0.1.css">

  <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="js/zoomline-0.0.1.js"></script>

  <script type="text/javascript" src="js/showoff.js?v=<%= SHOWOFF_VERSION %>"></script>

  <% css_files.each do |css_file| %>
    <link rel="stylesheet" type="text/css" href="<%= css_file %>" />
  <% end %>

  <% js_files.each do |js_file| %>
    <script type="text/javascript" src="<%= js_file %>"></script>
  <% end %>
