  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= @title %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>

  <% if @favicon %>
  <link rel="icon" href="<%= @favicon %>"/>
  <% end %>

  <link rel="stylesheet" type="text/css" href="<%= @asset_path %>/css/highlight/<%= @highlightStyle %>.css"  />
  <link rel="stylesheet" type="text/css" href="<%= @asset_path %>/css/mermaid-6.0.0.css" />
  <link rel="stylesheet" type="text/css" href="<%= @asset_path %>/css/font-awesome-4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="<%= @asset_path %>/css/showoff.css?v=<%= SHOWOFF_VERSION %>" />

  <script type="text/javascript" src="<%= @asset_path %>/js/jquery-2.1.4.min.js"></script>

  <script type="text/javascript" src="<%= @asset_path %>/js/jquery.cycle.all-2.8.0.js"></script>
  <script type="text/javascript" src="<%= @asset_path %>/js/jquery.batchImageLoad-1.0.0.js"></script>
  <script type="text/javascript" src="<%= @asset_path %>/js/jquery.parsequery.min-6a20f83.js"></script>
  <script type="text/javascript" src="<%= @asset_path %>/js/jquery.doubletap-4ff02c5.js"></script>
  <script type="text/javascript" src="<%= @asset_path %>/js/jTypeWriter-1.1.js"></script>
  <script type="text/javascript" src="<%= @asset_path %>/js/bigtext-0.1.8.js"></script>
  <script type="text/javascript" src="<%= @asset_path %>/js/highlight.pack-9.2.0.js"></script>
  <script type="text/javascript" src="<%= @asset_path %>/js/mermaid-6.0.0-min.js"></script>

  <script type="text/javascript" src="<%= @asset_path %>/js/coffee-script-1.1.3-pre.js"></script>

  <script type="text/javascript" src="<%= @asset_path %>/js/annotations.js?v=<%= SHOWOFF_VERSION %>"></script>
  <script type="text/javascript" src="<%= @asset_path %>/js/showoff.js?v=<%= SHOWOFF_VERSION %>"></script>

  <% css_files.each do |css_file| %>
    <link rel="stylesheet" href="<%= @asset_path %>/file/<%= css_file %>" type="text/css"/>
  <% end %>

  <% js_files.each do |js_file| %>
    <script type="text/javascript" src="<%= @asset_path %>/file/<%= js_file %>"></script>
  <% end %>

  <script type="text/javascript">
    $(function(){
      setupPreso(<%= @slides.nil? ? "true" : "false"%>, '<%= @asset_path %>');
    });

    editUrl     = "<%= @edit %>";
    interactive = <%= @interactive %>;

    keymap               = <%= JSON.pretty_generate @keymap %>;
    keycode_dictionary   = <%= JSON.pretty_generate @keycode_dictionary %>;
    keycode_shifted_keys = <%= JSON.pretty_generate @keycode_shifted_keys %>;

  </script>
