<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= erb :header %>
</head>

<body>
<div id="questionsIndicator"></div>

<i id="hamburger" class="fa fa-bars fa-2x"></i>
<div id="sidebarWrapper">
    <div id="navigationHover"></div>
    <div id="feedbackSidebar" class="sideMenu">
    <img id="disconnected" src="<%= @asset_path %>/css/disconnected.png">
    <h3><%= I18n.t('menu.title') %></h3>
    <div id="navToggle" class="buttonWrapper"><i class=" fa fa-bookmark"></i> <%= I18n.t('menu.table_of_contents') %></div>
    <div id="navigation" class="submenu"></div>
    <% if not @static then %>
    <hr>
    <div id="fileDownloads" class="buttonWrapper"><i class="fa fa-download"></i> <%= I18n.t('menu.downloads') %></div>
    <% end %>
    <hr>

    <% if @feedback and not @static then %>
        <p><%= I18n.t('menu.pace.label') %></p>
        <div id="paceSlower" class="buttonWrapper split interactive">
        <i class="fa fa-minus"></i>
        <br><%= I18n.t('menu.pace.slower') %>
        </div>
        <div id="paceFaster" class="buttonWrapper split interactive">
        <i class="fa fa-plus"></i>
        <br><%= I18n.t('menu.pace.faster') %>
        </div>

        <hr>
        <div id="questionToggle" class="buttonWrapper interactive"><i class="fa fa-hand-stop-o"></i> <%= I18n.t('menu.question.label') %></div>
        <div id="questionSubmenu" class="submenu">
        <textarea id="question" placeholder="<%= I18n.t('menu.question.placeholder') %>"></textarea>
        <div id="askQuestion" class="buttonWrapper interactive">Ask</div>
        </div>
        <ul id="askedQuestions"></ul>

        <hr>

        <div id="feedbackToggle" class="buttonWrapper interactive"><i class="fa fa-envelope"></i> <%= I18n.t('menu.feedback.title') %></div>
        <div id="feedbackSubmenu" class="submenu">
        <p><%= I18n.t('menu.feedback.label') %></p>
        <small>
            <%= I18n.t('menu.feedback.worst') %>
            <input type="radio" name="rating" value="1"></input>
            <input type="radio" name="rating" value="2"></input>
            <input type="radio" name="rating" value="3"></input>
            <input type="radio" name="rating" value="4"></input>
            <input type="radio" name="rating" value="5"></input>
            <%= I18n.t('menu.feedback.best') %>
        </small>
        <textarea id="feedback" placeholder="<%= I18n.t('menu.feedback.why') %>"></textarea>
        <div id="sendFeedback" class="buttonWrapper interactive"><%= I18n.t('menu.feedback.send') %></div>
        </div>

        <% if @edit then %>
        <hr>
        <div id="editSlide" class="buttonWrapper"><%= I18n.t('menu.edit') %></div>
        <% end %>
        <hr>
        <div id="clearAnnotations" class="buttonWrapper"><i class="fa fa-eraser"></i> <%= I18n.t('menu.clear_annotations') %></div>
        <hr>
    <% end %>

    <div id="closeMenu" class="buttonWrapper"><i class="fa fa-close"></i> <%= I18n.t('menu.close') %></div>
    <hr>

    <small>
        <p><%= I18n.t('menu.help') %></p>
        <p><%= I18n.t('menu.anonymous') %></p>
    </small>
    </div>
    <div id="sidebarExit"></div>
</div>
<%= erb :help %>

<div id="preso"><center><%= I18n.t('loading') %></center></div>

<div id="notes"></div>

<footer id="footer">
  <span id="followMode"></span>
  <span id="slideInfo"></span>
  <span id="debugInfo"></span>
  <span id="notesInfo"></span>
  <span id="slideFilename"></span>
  <img id="disconnected" src="<%= @asset_path %>/css/disconnected.png" />
</footer>

<div id="slides" class="offscreen" <%= 'style="display:none;"' if @slides %>>
<%= @slides %>
</div>
<div id="buttonNav">
  <div id="buttonPrev"><i class="fa fa-chevron-left fa-lg"></i> <%= I18n.t('navigation.previous') %></div><div id="buttonNext"><%= I18n.t('navigation.next') %> <i class="fa fa-chevron-right fa-lg"></i></div>
</div>
<div id="pauseScreen">
  <%= @pause_msg %>
</div>

</body>
</html>
