<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= erb :header %>
</head>

<body>

<i id="hamburger" class="fa fa-bars fa-2x"></i>
<div id="sidebarWrapper">
    <div id="feedbackSidebar" class="sideMenu">
    <h3>Showoff Menu</h3>
    <div id="navToggle" class="buttonWrapper"><i class=" fa fa-bookmark"></i> Table of Contents</div>
    <div id="navigation" class="submenu"></div>
    <hr>
    <div id="fileDownloads" class="buttonWrapper"><i class="fa fa-download"></i> Downloads</div>
    <hr>

    <% if @feedback then %>
        <p>The presenter should...</p>
        <div id="paceSlower" class="buttonWrapper split">
        <i class="fa fa-minus"></i>
        <br>Slow Down
        </div>
        <div id="paceFaster" class="buttonWrapper split">
        <i class="fa fa-plus"></i>
        <br>Speed Up
        </div>

        <hr>
        <div id="questionToggle" class="buttonWrapper"><i class="fa fa-hand-stop-o"></i> Ask a Question</div>
        <div id="questionSubmenu" class="submenu">
        <textarea id="question" placeholder="Ask a question..."></textarea>
        <div id="askQuestion" class="buttonWrapper">Ask</div>
        </div>
        
        <hr>
        
        <div id="feedbackToggle" class="buttonWrapper"><i class="fa fa-envelope"></i> Send Feedback</div>
        <div id="feedbackSubmenu" class="submenu">
        <p>This slide is...</p>
        <small>
            Terrible
            <input type="radio" name="rating" value="1"></input>
            <input type="radio" name="rating" value="2"></input>
            <input type="radio" name="rating" value="3"></input>
            <input type="radio" name="rating" value="4"></input>
            <input type="radio" name="rating" value="5"></input>
            Awesome
        </small>
        <textarea id="feedback" placeholder="Why...?"></textarea>
        <div id="sendFeedback" class="buttonWrapper">Send</div>
        </div>
        
        <% if @edit then %>
        <hr>
        <div id="editSlide" class="buttonWrapper">Edit Current Slide</div>
        <% end %>
        <hr>
    <% end %>

    <div id="closeMenu" class="buttonWrapper"><i class="fa fa-close"></i> Close</div>
    <hr>

    <small>
        <p>Press <code>?</code> for help.</p>
        <p>All features are anonymous</p>
    </small>
    </div>
    <div id="sidebarExit"></div>
</div>
<%= erb :help %>

<div id="preso"><center>loading presentation...</center></div>

<footer id="footer">
  <span id="followMode"></span>
  <span id="slideInfo"></span>
  <span id="debugInfo"></span>
  <span id="notesInfo"></span>
  <span id="slideFilename"></span>
  <img id="disconnected" src="<%= @asset_path %>/css/disconnected.png" />
</footer>

<div id="slides" class="offscreen" <%= 'style="display:none;"' if @slides %>>
<%= @slides %>
</div>
<div id="pauseScreen">
  <%= @pause_msg %>
</div>

</body>
</html>
