<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= @title %></title>

  <meta name="viewport" content="width=device-width"/>

  <link rel="stylesheet" href="<%= @asset_path %>css/reset.css" type="text/css"/>
  <link rel="stylesheet" href="<%= @asset_path %>css/showoff.css" type="text/css"/>

  <script type="text/javascript" src="<%= @asset_path %>js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="<%= @asset_path %>js/jquery.cycle.all.js"></script>
	<script type="text/javascript" src="<%= @asset_path %>js/jquery-print.js"></script>
  <script type="text/javascript" src="<%= @asset_path %>js/jquery.batchImageLoad.js"></script>

  <script type="text/javascript" src="<%= @asset_path %>js/jquery.doubletap-0.1.js"></script>

  <script type="text/javascript" src="<%= @asset_path %>js/fg.menu.js"></script>
  <script type="text/javascript" src="<%= @asset_path %>js/showoff.js"></script>
  <script type="text/javascript" src="<%= @asset_path %>js/jTypeWriter.js"> </script>
  <script type="text/javascript" src="<%= @asset_path %>js/sh_main.min.js"></script>
  <script type="text/javascript" src="<%= @asset_path %>js/core.js"></script>
  <script type="text/javascript" src="<%= @asset_path %>js/showoffcore.js"></script>

  <link type="text/css" href="<%= @asset_path %>css/fg.menu.css" media="screen" rel="stylesheet" />
  <link type="text/css" href="<%= @asset_path %>css/theme/ui.all.css" media="screen" rel="stylesheet" />
  <link type="text/css" href="<%= @asset_path %>css/sh_style.css" rel="stylesheet" >

  <% css_files.each do |css_file| %>
    <link rel="stylesheet" href="file/<%= css_file %>" type="text/css"/>
  <% end %>

  <% js_files.each do |js_file| %>
    <script type="text/javascript" src="file/<%= js_file %>"></script>
  <% end %>

  <script type="text/javascript">
  $(function(){
    setupPreso(<%= @slides.nil? ? "true" : "false"%>, '<%= @asset_path %>');
  });
  </script>
</head>

<body>


<a tabindex="0" href="#search-engines" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="navmenu"><span class="ui-icon ui-icon-triangle-1-s"></span>slides</a>
<div id="navigation" class="hidden"></div>

<div id="help">
  <table>
    <tr><td class="key">z, ?</td><td>toggle help (this)</td></tr>
    <tr><td class="key">space, &rarr;</td><td>next slide</td></tr>
    <tr><td class="key">shift-space, &larr;</td><td>previous slide</td></tr>
    <tr><td class="key">d</td><td>toggle debug mode</td></tr>
    <tr><td class="key">## &lt;ret&gt;</td><td>go to slide #</td></tr>
    <tr><td class="key">c, t</td><td>table of contents (vi)</td></tr>
    <tr><td class="key">f</td><td>toggle footer</td></tr>
    <tr><td class="key">r</td><td>reload slides</td></tr>
    <tr><td class="key">n</td><td>toggle notes</td></tr>
    <tr><td class="key">p</td><td>run preshow</td></tr>
  </table>
</div>

<div class="buttonNav">
  <input type="submit" onClick="prevStep();" value="prev"/>
  <input type="submit" onClick="nextStep();" value="next"/>
</div>

<div id="preso">loading presentation...</div>
<div id="footer">
  <span id="slideInfo"></span>
  <span id="debugInfo"></span>
  <span id="notesInfo"></span>
</div>

<div id="slides" class="offscreen" <%= 'style="display:none;"' if @slides %>>
<%= @slides %>
</div>

</body>
</html>
