<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= @title %></title>

  <% if @inline %>

    <%= inline_css(['reset.css', 'showoff.css', 'theme/ui.all.css', 'sh_style.css', 'onepage.css'], 'public/css') %>
    <%= inline_css(css_files) %>

    <%= inline_js(['jquery-1.4.2.min.js', 'jquery-print.js', 'showoff.js', 'onepage.js', 'sh_main.min.js', 'core.js', 'showoffcore.js'], 'public/js') %>
    <%= inline_js(@languages, 'public/js') if @languages %>
    <%= inline_js(js_files) %>
    <script type="text/javascript">
    $(document).ready(function() {
      setupOnePage()
    });
    </script>

  <% else %>

    <% ['reset.css', 'showoff.css', 'theme/ui.all.css', 'sh_style.css', 'onepage.css'].each do |css_file| %>
      <link rel="stylesheet" href="<%= @asset_path %>css/<%= css_file %>" type="text/css"/>
    <% end %>
    <% css_files.each do |css_file| %>
      <link rel="stylesheet" href="<%= @asset_path %>file/<%= css_file %>" type="text/css"/>
    <% end %>

    <% ['jquery-1.4.2.min.js', 'jquery-print.js', 'showoff.js', 'onepage.js', 'sh_main.min.js', 'core.js', 'showoffcore.js'].each do |js_file| %>
      <script type="text/javascript" src="<%= @asset_path %>js/<%= js_file %>"></script>
    <% end %>
    <% js_files.each do |js_file| %>
      <script type="text/javascript" src="<%= @asset_path %>file/<%= js_file %>"></script>
    <% end %>
    <% if @languages %>
      <% @languages.each do |l| %>
        <script type="text/javascript" src="<%= @asset_path %>js<%= l %>"></script>
      <% end %>
    <% end %>
    <script type="text/javascript">
      $(document).ready(function() {
        setupOnePage()
      });
    </script>

  <% end %>
</head>

<body>
<div id="slides">
  <%= @slides %>
</div>
</body>
</html>
