<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<% if @baseurl %><base href="<%= @baseurl %>" /> <% end %>
  <title><%= @title %></title>

  <% if @favicon %>
    <link rel="icon" href="<%= @favicon %>"/>
  <% end %>

  <% if @inline %>
    <%= inline_css(['font-awesome-5.6.1/css/all.min.css', 'mermaid-6.0.0.css', "highlight/#{@highlightStyle}.css"], 'public/css') %>
    <%= inline_css(['showoff.css', 'onepage.css'], 'public/css') %>
    <%= inline_css(css_files) %>

    <%= inline_js(['jquery-2.1.4.min.js', 'showoff.js', 'highlight.pack-9.15.10.js', 'highlightjs-line-numbers.min.js'], 'public/js') %>
    <%= inline_js(['bigtext-0.1.8.js', 'simpleStrings-0.0.1.js', 'mermaid-6.0.0-min.js'], 'public/js') %>

    <%= inline_js(js_files) %>

  <% else %>
    <% ['font-awesome-5.6.1/css/all.min.css', 'mermaid-6.0.0.css', "highlight/#{@highlightStyle}.css",
        'showoff.css', 'onepage.css'].each do |css_file| %>
      <link rel="stylesheet" href="css/<%= css_file %>" type="text/css"/>
    <% end %>

    <% css_files.each do |css_file| %>
      <link rel="stylesheet" href="<%= css_file %>" type="text/css"/>
    <% end %>

    <% ['jquery-2.1.4.min.js', 'showoff.js', 'highlight.pack-9.15.10.js',
        'highlightjs-line-numbers.min.js', 'bigtext-0.1.8.js', 'simpleStrings-0.0.1.js', 'mermaid-6.0.0-min.js'].each do |js_file| %>
      <script type="text/javascript" src="js/<%= js_file %>"></script>
    <% end %>
    <% js_files.each do |js_file| %>
      <script type="text/javascript" src="<%= js_file %>"></script>
    <% end %>

  <% end %>

  <script type="text/javascript">
    $(document).ready(function() {
      $('pre.highlight code').each(function(i, block) {
        try {
          // syntax highlight the code
          hljs.highlightBlock(block);

          // then add focus on any lines marked
          highlightLines(block);
        } catch(e) {
          console.log('Syntax highlighting failed on ' + $(this).closest('div.slide').attr('id'));
          console.log('Syntax highlighting failed for ' + $(this).attr('class'));
          console.log(e);
        }
      });


      // render diagrams and text manipulations unconditionally instead of waiting for slide views
      mermaid.init(undefined, $(".language-render-diagram"));
      $('.content.bigtext').bigtext();

      // translate SVG images, inlining them first if needed.
      user_translations = <%= JSON.pretty_generate user_translations %>;
      $('img').simpleStrings({strings: user_translations});
      $('svg').simpleStrings({strings: user_translations});
      $('.translate').simpleStrings({strings: user_translations});
    });
  </script>

</head>

<body>
<div id="slides"<% if @wrapper_classes then %>class="<%= @wrapper_classes.join(' ') %>"<% end %> >
  <%= @slides %>
</div>
</body>
</html>
