<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= erb :header %>
  <link rel="stylesheet" href="<%= @asset_path %>css/960.css" type="text/css"/>
  <link rel="stylesheet" href="<%= @asset_path %>css/presenter.css" type="text/css"/>
  <script type="text/javascript" src="<%= @asset_path %>js/presenter.js"></script>
</head>

<body>

<a tabindex="0" href="#search-engines" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all" id="navmenu"><span class="ui-icon ui-icon-triangle-1-s"></span>slides</a>

<div id="help">
  <table>
    <tr><td class="key">z, ?</td><td>toggle help (this)</td></tr>
    <tr><td class="key">space, &rarr;</td><td>next slide</td></tr>
    <tr><td class="key">shift-space, &larr;</td><td>previous slide</td></tr>
    <tr><td class="key">d</td><td>toggle debug mode</td></tr>
    <tr><td class="key">## &lt;ret&gt;</td><td>go to slide #</td></tr>
    <tr><td class="key">c, t</td><td>table of contents (vi)</td></tr>
    <tr><td class="key">r</td><td>reload slides</td></tr>
    <tr><td class="key">p</td><td>run preshow</td></tr>
  </table>
</div>

<div id="main" class="container_12">
  <div id="topbar" class="grid_12">
    <div id="links">
      <a href="/pdf">Generate PDF</a>
      &nbsp; &nbsp;
      <a href="/onepage">Single Page</a>
    </div>
  </div>
  <div class="clear"></div>
  <div id="sidebar" class="grid_4">
    <div id="slideSource">
      Source: <span id="slideFile"></span>
    </div>
    <div id="progress">
      Slide: <span id="slideInfo"></span>
    </div>
    <div id="timerSection">
      Timer: 
      <span id="minStart"><input type="text" size="2" id="timerMinutes"/> min <input type="button" id="startTimer" value="Start"></span>
      <span id="timerInfo"></span>
      <span id="minStop"><input type="button" id="stopTimer" value="Stop"></span>
    </div>
    <div id="debugInfo"></div>
    <div id="slidemenu">
      <div id="navigation" class="menu"></div>
    </div>
  </div>
  <div id="preview" class="grid_8">
    <div id="preso" class="zoomed">loading presentation...</div>
  </div>
  <div class="clear"></div>
  <div id="bottom" class="grid_12">
    <div id="notes"></div>
  </div>
</div>

<div id="slides" class="offscreen" <%= 'style="display:none;"' if @slides %>>
<%= @slides %>
</div>

</body>
</html>
