<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= erb :header %>
  <link rel="stylesheet" href="<%= @asset_path %>/css/presenter.css?v=<%= SHOWOFF_VERSION %>" type="text/css"/>
  <link href="<%= @asset_path %>/css/TimeCircles-89ac5ae.css" rel="stylesheet">

  <script type="text/javascript" src="<%= @asset_path %>/js/TimeCircles-89ac5ae.js"></script>
  <script type="text/javascript" src="<%= @asset_path %>/js/presenter.js?v=<%= SHOWOFF_VERSION %>"></script>

  <script type="text/javascript">
    editUrl  = "<%= @edit %>";
    issueUrl = "<%= @issues %>";

    tours['showoff:activity'] = [
      {
        element: ".currentSlide .count",
        intro: I18n.t('tour.activity.count')
      }
    ];

    tours['showoff:form'] = [
      {
        element: "#notes",
        intro: I18n.t('tour.form.responses'),
        scrollToElement: false
      },
      {
        element: ".currentSlide input.display",
        intro: I18n.t('tour.form.display')
      }
    ];

    $(function(){
      var tourVersion = 1;
      var clientTour  = document.cookieHash['tourVersion'] || 0;

      if(clientTour < tourVersion) {
        toggleKeybinding('off');

        var intro = introJs();
        intro.setOptions({
          showProgress: true,
          showStepNumbers: false,
          exitOnOverlayClick: false,
          steps: [
            {
              element: "#slaveWindow",
              intro: I18n.t('tour.displayview'),
              version: 1
            },
            {
              element: "#annotationLabel",
              intro: I18n.t('tour.annotations'),
              version: 1
            },
            {
              element: "#timerSection",
              intro: I18n.t('tour.timer'),
              version: 1
            },
            {
              element: "#feedbackPace",
              intro: I18n.t('tour.pace'),
              version: 1
            },
            {
              element: "#questions",
              intro: I18n.t('tour.questions'),
              version: 1
            },
            {
              element: "#notes-controls",
              intro: I18n.t('tour.notes'),
              highlightClass: "tourDark",
              version: 1
            },
            {
              element: "#slideSource",
              intro: I18n.t('tour.slidesource'),
              version: 1
            },
            {
              element: "#settings",
              intro: I18n.t('tour.settings'),
              version: 1
            },
            {
              element: "#edit",
              intro: I18n.t('tour.edit'),
              version: 1
            },
            {
              element: "#report",
              intro: I18n.t('tour.report'),
              version: 1
            }
          ].filter(function(item) { return (item['version'] > clientTour) && document.querySelector(item['element']) })
          // the queryselector filter eliminates tips for features that have been turned off
        });

        // re-enable the keyboard whether the tour was completed or not
        intro.onexit(function() {
          toggleKeybinding('on');
        });

        // record tour completion so we don't continue to annoy people
        intro.oncomplete(function() {
          document.cookie = "tourVersion="+tourVersion;
        });

        // give it a chance to finish loading the presentation
        $("body").bind("showoff:loaded", function (event) {
          intro.start();
        });

      }
    });

  </script>
</head>

<body class="presenter">
<%= erb :help %>

<div id="pagewrapper">
  <div id="topbar">
    <a id="close-sidebar" class="fa fa-bars fa-2x" aria-hidden="true" href="#"></a>

    <span id="links">
      <span class="desktop">
        <label id="annotationLabel" for="annotationsToggle" class="no-mobile" title="<%= I18n.t('presenter.topbar.tooltip.annotations') %>"><%= I18n.t('presenter.topbar.annotations') %> <i class="fa fa-pencil"></i></label>
        <input type="checkbox" id="annotationsToggle" autocomplete="off" class="no-mobile" />

        <% if @edit %>
          <a id="edit" href="#" title="<%= I18n.t('presenter.topbar.tooltip.edit') %>"><%= I18n.t('presenter.topbar.edit') %> <i class="fa fa-pencil-square-o"></i></a>
        <% end %>
        <% if @issues %>
          <a id="report" href="javascript:reportIssue();" title="<%= I18n.t('presenter.topbar.tooltip.report') %>"><%= I18n.t('presenter.topbar.report') %> <i class="fa fa-list-alt"></i></a>
        <% end %>

        <a id="statslink" href="" title="<%= I18n.t('presenter.topbar.tooltip.stats') %>"><%= I18n.t('presenter.topbar.stats') %> <i class="fa fa-chevron-down"></i></a>
        <a id="downloadslink" href="" title="<%= I18n.t('presenter.topbar.tooltip.downloads') %>"><%= I18n.t('presenter.topbar.downloads') %> <i class="fa fa-chevron-down"></i></a>
        <a id="slaveWindow" href="#" title="<%= I18n.t('presenter.topbar.tooltip.display') %>"><%= I18n.t('presenter.topbar.display') %> <i class="fa fa-clone"></i></a>
        <a id="printSlides" href="#" title="<%= I18n.t('presenter.topbar.tooltip.print') %>"><%= I18n.t('presenter.topbar.print') %> <i class="fa fa-print"></i></a>
        <a id="settings" href="#" title="<%= I18n.t('presenter.topbar.tooltip.settings') %>"><%= I18n.t('presenter.topbar.settings') %> <i class="fa fa-cog"></i></a>
      </span>


      <span class="mobile">
        <a id="update" href=""><%= I18n.t('presenter.mobile.update') %></a>
      </span>
    </span>
  </div>

  <div id="main">
    <div id="sidebar">
      <div id="timerSection">
        <input type="button" id="pauseTimer" value="<%= I18n.t('presenter.timer.pause') %>" />
        <input type="button" id="stopTimer" value="<%= I18n.t('presenter.timer.cancel') %>" />
        <span id="timerLabel"><%= I18n.t('presenter.timer.label') %></span>
        <span id="minStart">
          <input type="text" size="4" id="timerMinutes"/> <%= I18n.t('presenter.timer.unit') %>
          <input type="button" id="startTimer" value="<%= I18n.t('presenter.timer.start') %>" />
        </span>
        <div id="timerDisplay"></div>
      </div>

      <% if @feedback then %>
      <div id="feedbackPace">
        <div class="gradient"> </div>
        <div class="left obscure"> </div>
        <div class="right obscure"> </div>
        <span id="paceSlow"><%= I18n.t('presenter.pace.faster') %></span>
        <span id="paceFast"><%= I18n.t('presenter.pace.slower') %></span>
        <img id="paceMarker" src="<%= @asset_path %>/css/paceMarker.png" />
      </div>
      <% end %>

      <div id="navigation" class="submenu"></div>
      <div id="navigationHover"></div>

      <% if @feedback then %>
      <div id="questions">
        <h3><%= I18n.t('presenter.questions') %></h3>
        <ol id="unanswered"></ol>
        <ol id="answered"></ol>
      </div>
      <% end %>

    </div>

    <div id="presenter">
      <div id="frame">
        <div id="preview">
          <img id="disconnected" src="<%= @asset_path %>/css/disconnected-large.png" />
          <div id="prevSlide" class="thumb"><div class="container"></div><h3 class="label"><%= I18n.t('presenter.preview.previous') %></h3></div>
          <div id="nextSlide" class="thumb"><div class="container"></div><h3 class="label"><%= I18n.t('presenter.preview.next') %></h3></div>
          <div id="preso"><%= I18n.t('loading') %></div>
        </div>
        <div id="annotationToolbar">
          <label><%= I18n.t('presenter.annotation.tools') %></label>
            <i class="fa fa-pencil tool default active" data-action="draw" aria-hidden="true"></i>
            <i class="fa fa-arrow-right tool"  data-action="rightArrow" aria-hidden="true"></i>
            <i class="fa fa-arrow-left tool"  data-action="leftArrow" aria-hidden="true"></i>
            <i class="fa fa-bullseye tool" data-action="highlight" aria-hidden="true"></i>
            <i class="fa fa-eraser tool"  data-action="erase" aria-hidden="true"></i>
          <label><%= I18n.t('presenter.annotation.lines') %></label>
            <i class="fa fa-square-o lines color1 active" aria-hidden="true"></i>
            <i class="fa fa-square-o lines color2" aria-hidden="true"></i>
            <i class="fa fa-square-o lines color3" aria-hidden="true"></i>
            <i class="fa fa-square-o lines color4" aria-hidden="true"></i>
          <label><%= I18n.t('presenter.annotation.shapes') %></label>
            <i class="fa fa-square shapes color1" aria-hidden="true"></i>
            <i class="fa fa-square shapes color2" aria-hidden="true"></i>
            <i class="fa fa-square shapes color3 active" aria-hidden="true"></i>
            <i class="fa fa-square shapes color4" aria-hidden="true"></i>
        </div>
      </div>

      <div id="notes-pane">
        <div id="statusbar">
          <span class="label"><%= I18n.t('presenter.status.label') %> <span id="slideInfo"></span></span>
          <span id="debugInfo"></span>
          <span id="slideSource">
            <% if @request.host == 'localhost' %>
              <a href="#"><span id="slideFile"></span></a>
            <% else %>
              <span id="slideFile"></span>
            <% end %>
          </span>
        </div>
        <div id="progress" class="no-mobile"></div>

        <div id="buttonNav">
          <div id="buttonPrev"><i class="fa fa-chevron-left fa-lg"></i> <%= I18n.t('navigation.previous') %></div><div id="buttonNext"><%= I18n.t('navigation.next') %> <i class="fa fa-chevron-right fa-lg"></i></div>
        </div>

        <div id="notes-wrapper">
          <ul class="section-selector"></ul>
          <div class="controls" id="notes-controls">
            <a class="no-mobile fa fa-minus small" aria-hidden="true" href="#"></a>
            <a class="no-mobile fa fa-dot-circle-o small" aria-hidden="true" href="#"></a>
            <a class="no-mobile fa fa-plus small" aria-hidden="true" href="#"></a>
            <span class="spacer"> </span>
            <a id="notesToggle" class="no-mobile fa fa-external-link-square" aria-hidden="true" href="#"></a>
            <span><i class="no-mobile fa fa-bars notes-grippy ui-resizable-handle ui-resizable-n" aria-hidden="true"></i></span>
          </div>
          <div id="notes"></div>
        </div>
      </div>
    </div><!-- end presenter -->
  </div><!-- end main -->

  <div id="settings-modal" title="<%= I18n.t('presenter.settings.label') %>">
    <div id="enableFollower" class="setting" title="<%= I18n.t('presenter.settings.follower.tooltip') %>">
      <label for="followerToggle"><%= I18n.t('presenter.settings.follower.label') %></label><input type="checkbox" id="followerToggle" autocomplete="off" checked />
      <p class="description">
        <%= I18n.t('presenter.settings.follower.description') %>
      </p>
    </div>
    <div id="enableRemote" class="setting" title="<%= I18n.t('presenter.settings.remote.tooltip') %>">
      <label for="remoteToggle"><%= I18n.t('presenter.settings.remote.label') %></label><input type="checkbox" id="remoteToggle" autocomplete="off" checked />
      <p class="description">
        <%= I18n.t('presenter.settings.remote.description') %>
      </p>
    </div>
    <% unless language_names.empty? %>
    <div class="setting">
      <label><%= I18n.t('presenter.settings.language.label') %></label><br>
      <select id="languageSelector" autocomplete="off">
        <option value="auto" selected><%= I18n.t('language.auto') %></option>
        <% language_names.each do |code, name| %>
        <option value="<%= code %>"><%= name %></option>
        <% end %>
        <option value="disable"><%= I18n.t('language.disable') %></option>
      </select>
      <p class="description">
        <%= I18n.t('presenter.settings.language.description') %>
      </p>
    </div>
    <% end %>
    <div class="setting">
      <label><%= I18n.t('presenter.settings.layout.label') %></label><br>
      <select id="layoutSelector" autocomplete="off">
        <option value="default" selected><%= I18n.t('presenter.settings.layout.default') %></option>
        <option value="thumbs"   title="<%= I18n.t('presenter.settings.layout.thumbs') %>">Thumbnails</option>
        <option value="floating" title="<%= I18n.t('presenter.settings.layout.floating') %>">Floating</option>
        <option value="beside"   title="<%= I18n.t('presenter.settings.layout.beside') %>">Side-by-Side</option>
      </select>
      <div id="nextWindowConfirmation">
        <p class="description"><%= I18n.t('presenter.settings.layout.confirmation') %></p>
        <p>
          <input id="openNextWindow" type="button" onClick="#" value="<%= I18n.t('presenter.settings.layout.open') %>" />
          <a id="nextWinCancel" href="#"><%= I18n.t('presenter.settings.layout.cancel') %></a>
        </p>
      </div>
    </div>
    <div class="links">
      <a id="clearCookies" href="#" title="<%= I18n.t('presenter.settings.layout.reset.tooltip') %>"><%= I18n.t('presenter.settings.layout.reset.label') %></a>
    </div>
  </div>

  <div id="print-modal" title="<%= I18n.t('presenter.print.label') %>">
    <p><%= I18n.t('presenter.print.description') %></p>
    <ul id="print-sections"></ul>
  </div>

  <div id="slides" class="offscreen" <%= 'style="display:none;"' if @slides %>>
  <%= @slides %>
  </div>
</div><!-- end pagewrapper -->
</body>
</html>
