<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= erb :header %>
  <link rel="stylesheet" href="<%= @asset_path %>/css/presenter.css" type="text/css"/>
  <script type="text/javascript" src="<%= @asset_path %>/js/presenter.js"></script>
  <script type="text/javascript">
    editUrl  = "<%= @edit %>";
    issueUrl = "<%= @issues %>";
  </script>
</head>

<body>
<%= erb :help %>

<div id="main">
  <div id="topbar">
    <span id="slideSource">
      Source:
      <% if @request.host == 'localhost' %>
        <a href="javascript:openEditor();"><span id="slideFile"></span></a>
      <% else %>
        <span id="slideFile">
      <% end %>
    </span>
    <span id="links">
      <span class="desktop">
        <% if @edit %>
          <a id="edit" href="javascript:editSlide();" title="Edit current slide in new window.">Edit Slide</a>
        <% end %>
        <% if @issues %>
          <a id="report" href="javascript:reportIssue();" title="Report an issue with the current slide.">Report Issue With Slide</a>
        <% end %>
        <span>
          <a id="statslink" href="">Viewing Statistics <i class="fa fa-chevron-down"></i></a>
          <a id="downloadslink" href="">Downloads <i class="fa fa-chevron-down"></i></a>
        </span>
        <span>
          <a id="slaveWindow" href="javascript:toggleSlave();" title="Enable the display window.">Display Window <i class="fa fa-clone"></i></a>
          <a id="nextWindow" href="javascript:toggleNext();" title="Enable the next window view.">Next Window <i class="fa fa-clone"></i></a>
          <a id="notesWindow" href="javascript:toggleNotes();" title="Enable the popout notes window.">Notes Window <i class="fa fa-clone"></i></a>
        </span>
        <span>
          <a id="onePage" href="/" title="Switch to Display Window.">Switch Views</a>
        </span>
      </span>
      <span class="mobile">
        <a id="update" href="">Update</a>
      </span>
    </span>
  </div>

  <div id="center">
    <div id="sidebar">
      <div id="timerSection">
        Timer:
        <span id="minStart">
          <input type="text" size="8" id="timerMinutes"/> min
          <input type="button" id="startTimer" value="Start">
        </span>
        <span id="timerInfo"></span>
        <span id="minStop"><input type="button" id="stopTimer" value="Stop"></span>
      </div>
      <div id="feedbackPace">
        <span id="paceSlow">Speed Up!</span>
        <span id="paceFast">Slow Down!</span>
        <img id="paceMarker" src="<%= @asset_path %>/css/paceMarker.png" />
      </div>
      <div id="navigation" class="submenu"></div>
    </div>
    <div id="presenter">
      <div id="preview">
        <img id="disconnected" src="<%= @asset_path %>/css/disconnected-large.png" />
        <div id="preso">loading presentation...</div>
      </div>
      <div id="statusbar">
        <span id="progress">
          Slide: <span id="slideInfo"></span>
        </span>
        <div id="debugInfo"></div>
        <span id="enableRemote" title="Enables tracking of other presenters.">
          <label for="remoteToggle">Enable Remote</label><input type="checkbox" id="remoteToggle" checked />
        </span>
        <span id="enableFollower" title="Send slide change notifications.">
          <label for="followerToggle">Update Follower</label><input type="checkbox" id="followerToggle" checked />
        </span>
      </div>
    </div>
  </div>

  <div id="bottom">
    <div id="questions">
      <h3>Audience Questions</h3>
      <ul></ul>
    </div>
    <div id="notes"></div>
  </div>
</div>

<div id="slides" class="offscreen" <%= 'style="display:none;"' if @slides %>>
<%= @slides %>
</div>

</body>
</html>
