<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <%= erb :header_mini %>
</head>

<body id="stats">
  <div id="wrapper">

    <script type="text/javascript">
        $(document).ready(function(){
          $.getJSON("/stats_data", function( json ) {
            setupStats(json);
          });
        });
    </script>

    <h1>Viewing Statistics</h1>
    <p id="stray"><span class="label"></span> of your audience is not viewing the same slide you are.</p>
    <p id="idle"><span class="label"></span> of your audience is idle.</p>
    <h2>Slides currently being viewed:</h2>
    <div id="viewers">No data to display.</div>
    <h2>Elapsed time spent on each slide:</h2>
    <div id="elapsed">No data to display.</div>
  </div>

  <div id="all">
    <h3>All slides</h3>
    <% max = @all.sort_by {|slide, time| -time}[0][1].to_f rescue 0 %>
    <% @all.sort.map do |slide, time| %>
        <% next if slide.empty? %>
        <% timestr = (time < 60) ? ':%S' : (time < 3599) ?  '%M:%S' : '%H:%M:%S' %>
        <div class="row top">
        <span class="label"><%= slide %></span>
        <div class="bar" style="width: <%= (time/max)*100 %>%;"> </div>
        <div class="time"><%= Time.at(time).gmtime.strftime(timestr) %></div>
        <% if @counter %>
          <div class="detail">
            <% @counter[slide].each do |host, views| %>
              <% count = views.inject(0) { |sum, view| sum += view['elapsed'] } %>
              <% timestr = (count < 60) ? ':%S' : (count < 3599) ?  '%M:%S' : '%H:%M:%S' %>
              <div class="row">
                <span class="label"><%= host %>:</span>
                <div class="bar" style="width: <%= (count/max)*100 %>%;"> </div>
                <div class="time"><%= Time.at(count).gmtime.strftime(timestr) %></div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

</body>
</html>
